/* Footer Section */
#footer {
    background-color: #333;
    color: #ffcf00;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

#footer p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}
